version: '3.7'

services:
  application:
    container_name: application
    build: .
    user: node
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
      - /usr/app/node_modules
    tty: true
    command: sh -c "npm run build && npm start"
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
      - 9229:9229
    env_file:
      - .env
    depends_on:
      - database

  database:
    container_name: postgres
    image: postgres:12.2
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      PG_DATA: /var/lib/postgresql/data
    ports:
      - ${DB_PORT}:${DB_PORT}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: